#main {
  background-color: #333;
  height: 2250px;
  width: 100%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0; }

#landImg {
  height: 900px;
  width: 100%;
  position: absolute;
  margin: 0 0 0 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background-image: url("imgs/landImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 35px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 35px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 35px 7px rgba(0, 0, 0, 0.75); }

#logo {
  position: absolute;
  margin: auto;
  height: 300px;
  left: 0;
  right: 0;
  top: 38vh;
  z-index: 2; }

#WAM {
  width: 200px;
  position: absolute;
  z-index: 2;
  margin: auto;
  left: 0;
  right: 0;
  top: 0; }

#cbf {
  width: 462px;
  position: absolute;
  z-index: 2;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0; }

#arrow {
  position: absolute;
  margin: auto;
  height: 36px;
  width: 36px;
  left: 0;
  right: 0;
  top: 10;
  z-index: 2;
  font-size: 36px; }

#about {
  width: 100%;
  height: 400px;
  /*background-color: #eee7e7;*/
  position: absolute;
  left: 0;
  right: 0;
  top: 925px;
  z-index: 2;
  background: #eee7e7;
  background: -moz-linear-gradient(top, #eee7e7 0%, #eee7e7 23%, #c4b8b8 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #eee7e7), color-stop(23%, #eee7e7), color-stop(100%, #c4b8b8));
  background: -webkit-linear-gradient(top, #eee7e7 0%, #eee7e7 23%, #c4b8b8 100%);
  background: -o-linear-gradient(top, #eee7e7 0%, #eee7e7 23%, #c4b8b8 100%);
  background: -ms-linear-gradient(top, #eee7e7 0%, #eee7e7 23%, #c4b8b8 100%);
  background: linear-gradient(to bottom, #eee7e7 0%, #eee7e7 23%, #c4b8b8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee7e7', endColorstr='#c4b8b8', GradientType=0 ); }

#aboutText {
  color: transparent;
  font-family: Arial, sans-serif;
  text-align: center;
  width: 85%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

#whoWeAre {
  font-size: 60px;
  font-weight: bold; }

#whoBody {
  font-size: 30px;
  font-style: italic; }

/*
#nav{
	position:absolute;
	height:$nav-height;
	width:100%;
	margin: auto;
	top:$land-height + (2 * $border); left:0;
	z-index: z("nav");

	 Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+50,207cca+99 
	

}

#buttons{
	position: absolute;
	height:$nav-height;
	width:5.25 * $button-width;
	margin: auto;
	top:0;right:0;left:0;
}
.button{
	position: absolute;
	height:$nav-height;
	width:$button-width;
	margin: auto;
}
#button1{
	border-left: 1px solid #bdbdbd;
	border-right:1px solid #bdbdbd;
	left:0;top:0;
}
#button2{
	border-right:1px solid #bdbdbd;
	left:$button-width;top:0;
}
#button3{
	border-left:1px solid #bdbdbd;
	right:$button-width;top:0;
}
#button4{
	border-left: 1px solid #bdbdbd;
	border-right:1px solid #bdbdbd;
	right:0;top:0;
}
*/
@keyframes box-opacity-in {
  0% {
    opacity: 1; }
  100% {
    opacity: .94; } }
#boxes {
  position: absolute;
  margin: auto;
  height: 1400px;
  width: 100%;
  top: 1350px;
  left: 0;
  -webkit-box-shadow: 0px 0px 98px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 98px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 98px -16px rgba(0, 0, 0, 0.75); }

.box {
  z-index: 2;
  position: absolute;
  height: 350px;
  width: 100%;
  margin: auto;
  background-color: #493636;
  opacity: 1; }

#box1 {
  top: 0; }

#box2 {
  top: 350px;
  border-top: 1px solid gray; }

#box3 {
  top: 700px;
  border-top: 1px solid gray; }

#box4 {
  top: 1050px;
  border-top: 1px solid gray; }

.box_photo {
  z-index: 1;
  position: absolute;
  height: 350px;
  width: 100%;
  margin: auto; }

#box_photo1 {
  background: url("imgs/box_photo1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0; }

#box_photo2 {
  background: url("imgs/box_photo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 350px; }

#box_photo3 {
  background: url("imgs/box_photo3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 700px; }

#box_photo4 {
  background: url("imgs/box_photo4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 1050px; }

.box_text {
  position: absolute;
  margin: auto;
  height: 240px;
  width: 700px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #ece4e4;
  opacity: 0; }

.box_text_head {
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, sans-serif; }

.box_text_body {
  font-size: 30px;
  font-family: Arial; }

.box_button {
  border: 3px solid #ece4e4;
  position: absolute;
  margin: auto;
  height: 50px;
  width: 130px;
  bottom: 0;
  left: 0;
  right: 0; }

.box_button_text {
  color: #ece4e4;
  text-align: center;
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 30px;
  position: absolute;
  margin: auto;
  height: 20px;
  width: 100px;
  left: 14px;
  top: 8px; }

#contact {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 200px;
  left: 0;
  right: 0;
  color: #7a99b3;
  font-family: Arial, sans-serif;
  line-height: 150%;
  text-align: center; }

#address {
  position: absolute;
  margin: auto;
  height: 115px;
  width: 300px;
  top: 40px;
  left: 25px; }

#addressHead {
  font-size: 20px;
  font-weight: bold; }

#links {
  position: absolute;
  margin: auto;
  height: 115px;
  width: 100px;
  top: 40px;
  right: 25px; }

#linksHead {
  font-size: 20px;
  font-weight: bold; }

#copy {
  position: absolute;
  margin: auto;
  height: 68px;
  width: 300px;
  top: 200px;
  right: 0;
  left: 0; }

a:link {
  color: #a8bccd; }

a:visited {
  color: #b4e4dd; }

a:hover {
  color: #e4c2b4; }

a:active {
  color: #e4dcb4; }

.buttonHover {
  -webkit-box-shadow: inset 0px 0px 57px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 57px -24px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 57px -24px rgba(0, 0, 0, 0.75); }

.boxHover {
  -webkit-box-shadow: inset 0px 0px 57px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 57px -24px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 57px -24px rgba(0, 0, 0, 0.75);
  opacity: .94; }

.boxButtonHover {
  background-color: #ece4e4;
  color: #493636; }

.arrowHover {
  color: #ece4e4; }

/*# sourceMappingURL=style_mobile.css.map */
